n8n_workflows/heavy_agent_workflow.json
{
  "name": "JARVIS Heavy Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jarvis-action",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "webhookId": "jarvis-action-uid-1234"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "news",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "News"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "weather",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Weather"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "crypto",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Crypto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "joke",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Joke"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "fact",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fact"
            }
          ]
        },
        "fallbackOutput": 5
      },
      "id": "switch-router",
      "name": "Intent Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://hacker-news.firebaseio.com/v0/topstories.json",
        "options": {}
      },
      "id": "news-fetch",
      "name": "Fetch Top Tech News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://wttr.in/?format=3",
        "options": {}
      },
      "id": "weather-fetch",
      "name": "Fetch Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://api.coindesk.com/v1/bpi/currentprice.json",
        "options": {}
      },
      "id": "crypto-fetch",
      "name": "Fetch Crypto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://v2.jokeapi.dev/joke/Programming?blacklistFlags=nsfw,religious,political,racist,sexist,explicit&format=txt",
        "options": {}
      },
      "id": "joke-fetch",
      "name": "Fetch Joke",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        660,
        600
      ]
    },
    {
      "parameters": {
        "url": "https://uselessfacts.jsph.pl/api/v2/facts/random",
        "options": {}
      },
      "id": "fact-fetch",
      "name": "Fetch Fact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        660,
        800
      ]
    },
    {
      "parameters": {
        "assignments": [
          {
            "id": "a1",
            "name": "response",
            "value": "Sir, I do not have a specialized integration for that intent yet.",
            "type": "string"
          }
        ]
      },
      "id": "fallback-response",
      "name": "Fallback Responder",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        1000
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": [
          {
            "name": "response",
            "value": "={{ $json.data }}",
            "type": "string"
          }
        ],
        "options": {}
      },
      "id": "format-weather",
      "name": "Format Weather",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": [
          {
            "name": "response",
            "value": "=The current price of Bitcoin is {{ $json.bpi.USD.rate_float }} USD.",
            "type": "string"
          }
        ],
        "options": {}
      },
      "id": "format-crypto",
      "name": "Format Crypto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": [
          {
            "name": "response",
            "value": "={{ $json.data }}",
            "type": "string"
          }
        ],
        "options": {}
      },
      "id": "format-joke",
      "name": "Format Joke",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        880,
        600
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": [
          {
            "name": "response",
            "value": "={{ $json.text }}",
            "type": "string"
          }
        ],
        "options": {}
      },
      "id": "format-fact",
      "name": "Format Fact",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        880,
        800
      ]
    },
    {
      "parameters": {
        "url": "=https://hacker-news.firebaseio.com/v0/item/{{ $json.data[0] }}.json",
        "options": {}
      },
      "id": "news-fetch-detail",
      "name": "Fetch Top Story Detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": [
          {
            "name": "response",
            "value": "=The top tech story right now is: {{ $json.title }}.",
            "type": "string"
          }
        ],
        "options": {}
      },
      "id": "format-news",
      "name": "Format News",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Router": {
      "main": [
        [
          {
            "node": "Fetch Top Tech News",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Weather",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Crypto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Joke",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Fact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Top Tech News": {
      "main": [
        [
          {
            "node": "Fetch Top Story Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weather": {
      "main": [
        [
          {
            "node": "Format Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Crypto": {
      "main": [
        [
          {
            "node": "Format Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Joke": {
      "main": [
        [
          {
            "node": "Format Joke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Fact": {
      "main": [
        [
          {
            "node": "Format Fact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Top Story Detail": {
      "main": [
        [
          {
            "node": "Format News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
